header {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 60px;
  background: $civicOrange;
  color: #fff;
  a {
    color: #eee;
    &:hover, &:focus, &.selected {
      color: #fff;
    }
  }
  & > h1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 0 0.1em 1rem;
    width: 255px;
    height: 60px;
    overflow: hidden;
    text-indent: $textIndentHide;
    background: url(../img/civicspaces-logo.png) no-repeat;
  }
}

#nav {
  position: relative;
  z-index: 200;
  max-height: 0;
  display: none;
  &:target {
    display: block;
    min-height: 5em;
    max-height: 95vh;
  }
  & > ul {
    margin: 0.2em 0 0 0;
    padding: 0;
    list-style-type: none;
    & > li > a {
      display: block;
      margin-bottom: 0.2em;
      padding: 1em;
      background: darken($civicOrange, 4%);
      &:focus, &:hover {
        background: darken($civicOrange, 7%);
      }
    }
  }
}

#menuclose {
  position: absolute;
  z-index: 9999;
  bottom: -3.75em;
  right: 0;
  width: 4em;
  height: 3em;
  text-indent: $textIndentHide;
}

#menuopen {
  position: relative;
  float: right;
  margin: 1.5em 1em 0 0;
  width: 40px;
  height: 25px;
  background: url(../img/burger.png) no-repeat;
  text-indent: $textIndentHide;
}

.burger {
  font-size: 25px; // Icon Size
  font-family: "serif", Verdana;
  display: inline-block;
  line-height: 0.4em;
  margin: 1em;
  width: 1em;
  height: 1em;
  white-space: pre-wrap;
  position: relative;
  &:after {
    content: "\2014\A\2014"; // En dash
    display: block;
  }
  &:before {
    content: "\2014\A\2014"; // Em dash
    position: absolute;
    top: 0.2em;
  }
}

@media all and (min-width: $menuSwitchWidth) {

  header > h1 {
    display: block;
    width: 100%;
    max-width: $maxContentWidth;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.2em;
  }

  #menuopen, #menuclose {
    display: none;
  }

  #nav {
    display: block;
    width: 100%;
    max-width: $maxContentWidth;
    margin: 0 auto;
    
    & > ul {
      padding-top: 0.8em;
      text-align: right;

      & > li {
        display: inline-block;
        padding-bottom: -1em;
        vertical-align: top;

        & > a {
          display: inline;
          font-size: 0.8em;
          background: none;
          &:hover {
            background: none;
          }
        }

        &.promote > a{
          font-size: 1.2em;
        }
      }
    }
  }
}
