#masthead { /* wrapper for fixed positioning */
  position: fixed;
  top: 0;
  width: 100%;
}

#header { /* contains the h1/logo and burger label */
  position: relative;
  width: 100%;
  background: $civicOrange;

  @include box-shadow(0, 2px, 2px, 0, rgba(0,0,0,0.2));
  @include transition(all, $menuSpeed, ease-in-out);

  & > h1 {
    width: 100%;
    height: $menuHeight;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background: $civicOrange;

    & > a {
      display: inline-block;
      width: 255px;
      height: 60px;
      margin: 0.5em 1em 0 0.8em;
      // @TODO make this in-line data with an auto plugin
      background: url(../img/civicspaces-logo.png) no-repeat;
      background-size: contain;

      & > span { display: none; }
    }
  }
}

#nav {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  padding: 0;
  background: $civicOrange;
  vertical-align: top;

  @include transition(max-height, $menuSpeed, ease-out);

  & > ul {
    list-style: none;
    width: 100%;
    margin: 0 0 0;
    padding: 0;

    & > li {
      margin: 0;
      padding: 0;
      vertical-align: middle;

      & > a {
        display: block;
        margin-bottom: 0.4em;
        padding: 0.8em 1em;
        color: white;
        background: #444;

        &:hover, &:focus, &:active {
          color: white;
        }
      }
    }
  }
}

#burger {
  display: none;

  &:checked ~ #nav {
    max-height: 25em;
  }

  &:checked ~ #header {
    @include box-shadow(0, 2px, 22px, 0, rgba(0,0,0,0.7));
  }
}

#burgerTrigger {
  float: right;
  margin: 0.7em 1em 0;
  width: 40px;
  height: 25px;
  // @TODO make this in-line data with an auto plugin
  background: url(../img/burger.png) no-repeat;
  
  &:hover { cursor: pointer; }

  & > span { display: none; }
}


@media screen and (min-width: $menuSwitchWidth) {

  #header > header > h1 > a {
    margin-left: 1em;
  }

  #burgerTrigger {
    display: none;
  }

  #nav {
    max-width: 75%;
    max-height: none;
    background: none;
    position: absolute;
    //top: 1em;
    right: 1em;
    z-index: 2;

    & > ul {
      text-align: right;

      & > li {
        width: auto;
        display: inline-block;
        //padding-left: 1em;

        & > a {
          background: none;
        }
      }

    }
  }
}


