.jumbotron {
  padding: 1em;
  background: $paleBg;

  & > h1 {
    margin: 0;
    padding: 1em 0;
    font-size: 1.6em;
  }

  & .promo {
    background: #fff;
  }
}

.promo {
  margin: 0 0 1em 0;
  padding: 1em;
  @include border-radius(0.3em);
}

a.button {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.5em 1.5em;
  background: #236e87;
  @include border-radius(1.1em);
  font-family: $titleFont;
  color: #fff;

  &:hover, &:focus {
    background: #195c73;
  }
}

.wrapped { /* section */
  padding-bottom: 2em;
  background: $paleBg;
}

.boxed { /* h2 */
  margin: 0 0 1rem;
  padding: 0.75rem 1rem;
  background: #90a6b3;
  color: #fff;
}

.col2 {
  padding: 0 1em;
  @media all and (min-width: $menuSwitchWidth) {
    display: inline-block;
    width: 47%;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
}

.col2:nth-child(even) {
  @media all and (min-width: $menuSwitchWidth) {
    margin-left: 4%;
  }
}

.inner {
  @media all and (min-width: $menuSwitchWidth) {
    padding: 0 1rem;
  }
}

.show-1col {
  display: block;
  @media all and (min-width: $menuSwitchWidth) {
    display: none;
  }
}
.show-2col {
  display: none;
  @media all and (min-width: $menuSwitchWidth) {
    display: block;
  }
}