input, textarea, button {
  font-family: $copyFont;
  font-size: 1.1rem;
}

input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1em;
  color: #444;
}

label > input {
  display: block;

  &[type="checkbox"] {
    display: inline;
    width: auto;
  }
}

input[type="submit"] {
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 85%;
  background: #5d873b;
  border: none;
  @include border-radius(1rem);
  font-size: 1.4em;
  font-family: $titleFont; 
  color: #fff;
  cursor: pointer;

  &:hover, &:focus {
    background: darken(#5d873b, 5%);
  }
}