$logoWidth: 255px;
$logoHeight: 60px;

#masthead { /* wrapper for fixed positioning */
  position: fixed;
  top: 0;
  width: 100%;
}

#header { /* contains the h1/logo and burger label */
  position: relative;
  width: 100%;
  background: $civicOrange;

  @include box-shadow(0, 2px, 2px, 0, rgba(0,0,0,0.2));
  //@include transition(all, $menuSpeed, ease-in-out);

  & > h1 {
    width: 100%;
    height: $menuHeight;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background: $civicOrange;

    @media all and (min-width: $menuSwitchWidth) {
      max-width: $maxContentWidth;
      margin: 0 auto;
    }

    & > a {
      display: inline-block;
      width: $logoWidth/2;
      height: $logoHeight/2;
      margin: 0.4em 1em 0 0.8em;
      // @TODO make this in-line data with an auto plugin
      background: url(../img/civicspaces-logo.png) no-repeat;
      background-size: contain;

      @media all and (min-width: 21em) {
        width: $logoWidth*0.6;
        height: $logoHeight*0.6;
      }

      @media all and (min-width: $menuSwitchWidth) {
        width: $logoWidth*0.75;
        height: $logoHeight*0.75;
        //margin-left: 1em;
      }

      @media all and (min-width: 60em) {
        width: $logoWidth;
        height: $logoHeight;
        margin-top: 0;
        margin-left: 0;
      }

      & > span { display: none; }
    }
  }
}

#nav {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  padding: 0;
  background: $civicOrange;
  vertical-align: top;

  @include transition(max-height, $menuSpeed, ease-out);

  @media all and (min-width: $menuSwitchWidth) {
    padding-top: 0.2em;
    max-width: 100%;
    max-height: none;
    background: none;
    position: absolute;
    //right: 1em;
    z-index: 2;
  }

  & > ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    @media all and (min-width: $menuSwitchWidth) {
      text-align: right;
      max-width: $menuSwitchWidth;
      margin: 0 auto;
      padding-right: 1em;
    }

    @media all and (min-width: $maxContentWidth) {
      max-width: $maxContentWidth;
    }

    & > li {
      margin: 0;
      padding: 0;
      vertical-align: middle;

      @media all and (min-width: $menuSwitchWidth) {
        width: auto;
        display: inline-block;
      }

      &.promote > a {
        @media all and (min-width: $menuSwitchWidth) {
          font-size: 1.2em;
          background: none;
          padding-right: 0.8em;
          padding-left: 0.8em;
        }
      }

      &:last-child > a {
        padding-right: 0.2em;
      }

      & > a {
        display: block;
        margin-bottom: 0.4em;
        padding: 0.8em 1em;
        color: white;
        background: #444;
        font-size: 0.8em;

        &:hover, &:focus, &:active {
          color: white;
        }

        @media all and (min-width: $menuSwitchWidth) {
          background: none;
        }
      }
    }
  }
}

#burger {
  display: none;

  &:checked ~ #nav {
    max-height: 25em;
  }

  &:checked ~ #header {
    @include box-shadow(0, 2px, 22px, 0, rgba(0,0,0,0.7));
  }
}

#burgerTrigger {
  float: right;
  margin: 0.7em 1em 0;
  width: 40px;
  height: 25px;
  // @TODO make this in-line data with an auto plugin
  background: url(../img/burger.png) no-repeat;
  
  @media all and (min-width: $menuSwitchWidth) {
    display: none;
  }

  &:hover { cursor: pointer; }

  & > span { display: none; }
}


