$maxWidthDesktop: 44em;
$maxWidthDesktopRem: 44rem;
$menuSwitchWidth: 44em;
$menuSwitchWidthRem: 44rem;
$maxContentWidth: 60rem;

$textIndentHide: -9999rem;
$titleFont: Arvo, sans-serif;
$copyFont: Helvetica, Arial, sans-serif;
$bgColor: #fff;
$paleBg: #d8e4ea;
$civicOrange: #ed6a1c;
$typeColor: #000;
$linkColor: #2577A1;
$hoverColor: darken($linkColor, 20%);
$footerFontSize: 0.7em;

/* Menu/Animation variables */
$menuHeight: 2.4em;
$menuOffset: -10.4em;
$menuSpeed: 0.2s;

@import "reset";
@import "mixins";
@import "defaults";
@import "header";
@import "custom-classes";
@import "forms";
@import "footer";


/*
--------------------------------------------------------
media query for middle/portrait size range

*/
@media screen and (min-width: 30em) {

  body { font-size: 19px; }

}


/*
--------------------------------------------------------
media query for larger devices

*/
@media screen and (min-width: $maxWidthDesktop) {
  
  body { font-size: 21px; }

  .jumbotron > * {
    max-width: $maxContentWidth;
    margin-left: auto;
    margin-right: auto;
  }
  .jumbotron > h1 {
    margin-left: auto;
    margin-right: auto; 
  }

  h1 {
    font-size: 2em;
    small {
      font-size: 0.6em;
    }
  }

}