extends layout

block title
  title CivicSpaces: Find a Space

block content

  div.container

    h1 Find a Space

    p This page will initially be a basic listing of properties in the database. The sexy Google maps version will be built later.