extends layout

block title
  title CivicSpaces: Create a New Property Listing

block content
  div.container

    h1 Add a New Space

    p Fill out and submit this form to create a listing for a new space. You will be able to supply a password and create a new user account on the following page.

    p 
      | If you already have a user account, please 
      a(href="/sign-in.html") sign in 
      |  first.

    p.note
      small *Required fields.

    form

      h2 Location and Contact Info

      div.row
        div.col-md-6

          label
            | *Address: 
            input.form-control(name="address" type="text" maxlength="128" data-validate-rules="required")
            span

          label
            | City: 
            input.form-control(name="city" type="text" maxlength="128")

          label
            | *Zip Code: 
            input.form-control(name="zip" type="text" maxlength="10" data-validate-rules="required|zip")
            span

        
        div.col-md-6
          label
            | *Contact name: 
            input.form-control(name="contactName" type="text" maxlength="128" data-validate-rules="required")
            span

          label
            | *Contact email: 
            input.form-control(name="contactEmail" type="text" maxlength="128" data-validate-rules="required|email") 
            span

          label
            | *Contact phone: 
            input.form-control(name="contactPhone" type="text" maxlength="16" data-validate-rules="required|phone") 
            span

          label.terms
            input(name="terms" type="checkbox" data-validate-rules="checked") 
            |  *I agree to the 
            a(href="/terms") Terms &amp; Conditions
            |  for listing properties on this site and am aware of my responsibilities as a property listing agent.
            span

          input.btn.btn-success(type="submit" name="submit" value="Create Listing") 

block scripts
  script(src="/js/cs-validator.js")
  script(src="/js/list.js")
