extends layout

block content
  main

    h1 Add a New Space

    section.wrapped

      form

        h2 Location and Contact Info

        div.col2
          label
            | *Address: 
            input(name="address" type="text" maxlength="128")

          label
            | City: 
            input(name="city" type="text" maxlength="128")

          label
            | *Zip Code: 
            input(name="zip" type="text" maxlength="10")

          p
            small *Required fields.

        
        div.col2
          label
            | *Contact name: 
            input(name="contactName" type="text" maxlength="128")

          label
            | *Contact email: 
            input(name="contactEmail" type="text" maxlength="128") 

          label
            | *Contact phone: 
            input(name="contactPhone" type="text" maxlength="16") 

          label
            input(name="terms" type="checkbox") 
            | I agree to the 
            a(href="/terms") Terms &amp; Conditions
            |  for listing properties on this site and am aware of my responsibilities as a property listing agent.

          input(type="submit" name="submit" value="Create Listing") 

