extends layout

block title
  title CivicSpaces: Sitemap

block content

  div.container

    h1 Sitemap

    ul
      li
        a(href="/") Home
      li
        a(href="/list.html") List 
        small (create new listing)
      li
        a(href="/edit-property.html") Edit Property
      li
        a(href="/find.html") Find 
        small (list all properties)
      li Find with Map
      
    ul
      li
        a(href="/sign-in.html") Sign In
      li
        a(href="/create-account.html") Create New Account
      
    ul
      li
        a(href="/resources.html") Resources
      li
        a(href="/contact.html") Contact
      li
        a(href="/terms.html") Terms &amp; Conditions
      li
        a(href="/privacy.html") Privacy Policy

